<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory name="sessionFactory">
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.datasource">java:/comp/env/jdbc/datasource</property>
		<property name="hibernate.default_schema">public</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="hibernate.jdbc.factory_class">org.hibernate.jdbc.NonBatchingBatcherFactory</property>
		<property name="hibernate.jdbc.batch_size">100</property>
		<property name="hibernate.cache.use_second_cache">true</property>
		<property name="hibernate.transaction.auto_close_session">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.generate_statistics">false</property>
		<property name="hibernate.use_sql_comments">true</property>
		<property name="hibernate.connection.autocommit">false</property>
		<property name="hibernate.connection.pool_size">50</property>

		<!-- Usuário  -->
		<mapping class="br.com.clinica.model.cadastro.usuario.Login" />
		<mapping class="br.com.clinica.model.cadastro.usuario.Perfil" />
		
		<!-- Pessoas  -->
		<mapping class="br.com.clinica.model.cadastro.pessoa.Paciente" />
		<mapping class="br.com.clinica.model.cadastro.pessoa.Pessoa" />
		<mapping class="br.com.clinica.model.cadastro.pessoa.Atendente" />
		<mapping class="br.com.clinica.model.cadastro.pessoa.Medico" />
		<mapping class="br.com.clinica.model.cadastro.pessoa.Estoquista" />
		<mapping class="br.com.clinica.model.cadastro.pessoa.Acompanhante" />
		
		<!-- Outros  -->
		<mapping class="br.com.clinica.model.cadastro.outro.Doenca" />
		<mapping class="br.com.clinica.model.cadastro.outro.Convenio" />
		<mapping class="br.com.clinica.model.cadastro.outro.Especialidade" />
		<mapping class="br.com.clinica.model.cadastro.outro.PrecoConsulta" />
		
		<!-- Prontuário Médico  -->
		<mapping class="br.com.clinica.model.prontuario.Prontuario" />
		<mapping class="br.com.clinica.model.prontuario.Medicamento" />
		
		<!-- Agendamento  -->
		<mapping class="br.com.clinica.model.cadastro.agendamento.Evento" />
		
		<!-- Estoque  -->
		<mapping class="br.com.clinica.model.cadastro.estoque.Material" />
		<mapping class="br.com.clinica.model.cadastro.estoque.Fornecedor" />
		<mapping class="br.com.clinica.model.cadastro.estoque.Estoque" />
		<mapping class="br.com.clinica.model.cadastro.estoque.Pedido" />
		<mapping class="br.com.clinica.model.cadastro.estoque.PedidoMaterial" />
		
		<!-- Financeiro  -->
		<mapping class="br.com.clinica.model.financeiro.ContasReceber" />
		<mapping class="br.com.clinica.model.financeiro.FormaPagamento" />
		<mapping class="br.com.clinica.model.financeiro.ContasPagar" />
		<mapping class="br.com.clinica.model.financeiro.ParcelaPagar" />
		<mapping class="br.com.clinica.model.financeiro.Caixa" />
		<mapping class="br.com.clinica.model.financeiro.CaixaMensal" />
		<mapping class="br.com.clinica.model.financeiro.ParcelaContasPagar" />
		<mapping class="br.com.clinica.model.financeiro.PagamentoEspecial" />

			
		<listener class="org.hibernate.envers.event.AuditEventListener"
         type="post-insert"/>

		  <listener class="org.hibernate.envers.event.AuditEventListener"
         type="post-update"/>
		
		  <listener class="org.hibernate.envers.event.AuditEventListener"
         type="post-delete"/>
         
         <listener class="org.hibernate.envers.event.AuditEventListener"
         type="post-collection-recreate"/>
         
         <listener class="org.hibernate.envers.event.AuditEventListener"
         type="pre-collection-update"/>
         
         <listener class="org.hibernate.envers.event.AuditEventListener"
         type="pre-collection-remove"/>

		

	</session-factory>
</hibernate-configuration>
	
	
									